:root {
    --sidebar-font-size: 1.2em;
    --bgray: rgb(228, 233, 238);
    --blue: rgb(66, 178, 223);
    --dblue: rgb(59, 159, 199);
}

input,
button {
    appearance: none;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: minmax(200px, 1fr) 4fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: var(--blue);
    font-weight: bold;
    padding: 2rem;
    color: white;
    z-index: 2;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: sticky;
    top: 2rem;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header .main {
    grid-column: 2;
}

.header {
    background-color: white;
    grid-row: 1;
    box-shadow: 0px -5px 15px black;
    z-index: 1;
    display: grid;
    grid-template-rows: 2fr 3fr;
    padding: 1rem 4rem;
}

.header input[type="search"] {
    border: none;
    outline: none;
    width: 80%;
    height: 2rem;
    font-size: 1rem;
    background-color: var(--bgray);
    padding: 1rem;
    border-radius: 2rem;
    color: darkgrey;
    font-weight: bold;
}

input[type="search"]:hover,
input[type="search"]:focus {
    outline: 2px solid var(--bgray);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.header-section {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
}

.header-section div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-section span {
    font-weight: bold;
}

.main {
    background-color: var(--bgray);
    grid-row: 2 / 3;
    display: flex;
    gap: 1rem;
    padding: 3rem 2rem;
}

.main-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: clamp(150px, 25%, 300px)
}

.main h1 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.projects {
    flex: 1;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.card {
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    border-left: 0.5rem solid var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
}

.announcement-card,
.trending-card {
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.announcement-section:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.trending-section {
    display: flex;
    gap: 1rem;
}

.trending-section span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trending-title {
    color: darkgray;
}

.trending-user {
    font-weight: bold;
}

.icons {
    align-self: flex-end;
    display: flex;
    gap: 1rem;
}

.card:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    border-left: 0.5rem solid var(--dblue);
}

button {
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 1rem;
}

button:hover {
    box-shadow: inset 0 0 3px white;
}

button:active {
    box-shadow: 1px 1px 4px lightgrey;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.medium-icon {
    height: 1.5rem;
}

.sidebar-icon {
    height: var(--sidebar-font-size);
}

.profile {
    height: 3.5rem;
}

.profile-large {
    height: 4.5rem;
}

.white {
    filter: invert(93%) sepia(0%) saturate(0%) hue-rotate(298deg) brightness(105%) contrast(107%);
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--sidebar-font-size);
}

li:hover {
    font-weight: bolder;
    font-size: calc(var(--sidebar-font-size) + 0.1rem);
}

ul {
    margin: 0;
    padding: 0;
}

.small-font {
    font-size: 0.7rem;
}

.large-font {
    font-size: 1.5rem;
}